.info__about-me{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--margin-level-4);
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .info__about-me{
        grid-template-columns: 1fr;
    }
}