.chat_container {
    width: 100%;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2px !important;
}

.chat_container__content {
    height: 100%;
    margin-bottom: var(--margin-level-1);
    padding: var(--margin-level-2) 0;
    border-radius: var(--border-radius);
    background-color: var(--color-darked-blue);
    overflow-y: auto;
}

.chat_container__loading{
    height: max-content;
}

@media screen and (max-width: 500px) {
    .chat_container__content {
        padding: var(--margin-level-2) 0;
    }
}