.contacts-card__item{
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    align-items: center;
}
.contacts-card__item::before{
    content: "";
    width: 2px;
    height: 80%;
    margin-right: 20px;
    background-color: var(--color-purple);
}
.contacts-card__item svg{
    color: var(--color-gray);
    font-size: 1.8em;
}
.contacts-card__item p{
    text-align: right;
}
.contacts-card__item a:hover, .contacts-card__item svg:hover{
    fill: var(--color-white);
    transition: var(--transition);
}