.loader__container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: var(--animation);
}

.loader__spinner {
  --accent: var(--color-purple);
  --max-scale: 4;
  --speed: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  height: 80px;
  transform: skew(15deg, 10deg);
 }
 
 .loader__spinner span {
  display: block;
  background-color: var(--accent);
  width: 4px;
  height: 15px;
 }
 
 .loader__spinner .loader__spinner-part-0 {
  animation: load432 calc(1s/var(--speed)) linear infinite;
 }
 
 .loader__spinner .loader__spinner-part-1 {
  animation: load432 calc(0.16s/var(--speed)) linear infinite;
 }
 
 .loader__spinner .loader__spinner-part-2 {
  animation: load432 calc(0.4s/var(--speed)) linear infinite;
 }
 
 .loader__spinner .loader__spinner-part-3 {
  animation: load432 calc(0.5s/var(--speed)) linear infinite;
 }
 
 @keyframes load432 {
  50% {
   transform: scaleY(var(--max-scale));
  }
 }
 